[project]
	description = Content for the University Outreach India
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Amol Kahat (amolkahat)
[access "refs/for/refs/*"]
	read = group user/Amol Kahat (amolkahat)
	push = group user/Amol Kahat (amolkahat)
	label-Code-Review = -2..+2 group user/Amol Kahat (amolkahat)
	label-Verified = -1..+1 group user/Amol Kahat (amolkahat)
	rebase = group user/Amol Kahat (amolkahat)
	removeReviewer = group user/Amol Kahat (amolkahat)
	submit = group user/Amol Kahat (amolkahat)
[access "refs/heads/*"]
	read = group user/Amol Kahat (amolkahat)
	create = group user/Amol Kahat (amolkahat)
	push = +force group user/Amol Kahat (amolkahat)
	pushMerge = group user/Amol Kahat (amolkahat)
[access "refs/tags/*"]
	push = group user/Amol Kahat (amolkahat)
	push = +force group user/Amol Kahat (amolkahat)
